body {
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--input-radius: var(--radius-l);
	--tab-radius-active: var(--radius-m);
	--tab-curve: 12px;
	--checkbox-radius: 10px;
	--toggle-radius: 10px;
	--toggle-thumb-radius: 10px;
	--slider-thumb-radius: 10px;

	--highlight-edge: 4px;
	--highlight-edge-angle: 100deg;
}

.theme-dark {
	--background-primary: #111;
	--header-color: var(--color-accent-2);
	--highlight-color: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) * 1.10), 0.508);
}
.theme-light {
	--color-accent-3: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 0.6), calc(var(--accent-l) * 0.87));
	--header-color: var(--color-accent-3)
}
/* icon with accent color on click */
.clickable-icon:active, 
body.is-focused .mod-active .workspace-tab-header-container .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
.tree-item-self:active .tree-item-inner,
.vertical-tab-nav-item:active,
.vertical-tab-nav-item:active svg.svg-icon
{
	color: var(--text-accent) ;
}

.dropdown:active,
button:active {
	background-color: var(--text-accent);
}

/* folders */
.tree-item-self .tree-item-icon.collapse-icon.is-collapsed {
	background-color: var(--icon-color);
	opacity: var(--icon-opacity);
	mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZvbGRlci1pY29uIGx1Y2lkZS1mb2xkZXIiPjxwYXRoIGQ9Ik0yMCAyMGEyIDIgMCAwIDAgMi0yVjhhMiAyIDAgMCAwLTItMmgtNy45YTIgMiAwIDAgMS0xLjY5LS45TDkuNiAzLjlBMiAyIDAgMCAwIDcuOTMgM0g0YTIgMiAwIDAgMC0yIDJ2MTNhMiAyIDAgMCAwIDIgMloiLz48L3N2Zz4=);
	mask-size: contain;
}
.tree-item-self .tree-item-icon {
	background-color: var(--icon-color);
	opacity: var(--icon-opacity);
	mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZvbGRlci1vcGVuLWljb24gbHVjaWRlLWZvbGRlci1vcGVuIj48cGF0aCBkPSJtNiAxNCAxLjUtMi45QTIgMiAwIDAgMSA5LjI0IDEwSDIwYTIgMiAwIDAgMSAxLjk0IDIuNWwtMS41NCA2YTIgMiAwIDAgMS0xLjk1IDEuNUg0YTIgMiAwIDAgMS0yLTJWNWEyIDIgMCAwIDEgMi0yaDMuOWEyIDIgMCAwIDEgMS42OS45bC44MSAxLjJhMiAyIDAgMCAwIDEuNjcuOUgxOGEyIDIgMCAwIDEgMiAydjIiLz48L3N2Zz4=);
	mask-size: contain;
}
.collapse-icon svg.svg-icon {
	color: transparent;
}

/* editor */
.inline-title {
	border-bottom: 2px solid var(--hr-color);
}

.cm-header, :root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
	color: var(--header-color)
}
.cm-s-obsidian span.cm-highlight {
	background-color: transparent;
	background-image: linear-gradient(
		var(--highlight-edge-angle),
		transparent var(--highlight-edge),
		var(--highlight-color) var(--highlight-edge),
		var(--highlight-color) calc(100% - var(--highlight-edge)),
		transparent calc(100% - var(--highlight-edge))
	);
	background-repeat: no-repeat;

}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 3;
	ry: 3;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
