body {
	--opal-image: url(https://www.image2url.com/r2/default/images/1779550347314-2b9b7af4-94d4-411e-bbdd-29ed23811210.png);
	/* image default "https://www.image2url.com/r2/default/images/1779550347314-2b9b7af4-94d4-411e-bbdd-29ed23811210.png" */
	--background-blur: 8.5px;
	--background-blur-modifier: 6px;
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 12px;
	--input-radius: var(--radius-l);
	--tab-radius-active: var(--radius-m);
	--tab-curve: 12px;
	--checkbox-radius: 10px;
	--toggle-radius: 10px;
	--toggle-thumb-radius: 10px;
	--slider-thumb-radius: 10px;

	--hue-shift: var(--accent-h);
}

.theme-dark {
	--background-primary: #000;
}
.workspace-leaf-content {
	background-image: linear-gradient(
		var(--background-secondary),
		transparent 10%
	);
}
.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 3;
	ry: 3;
}

.view-content {
	background: none !important;
	background-image: linear-gradient(
		var(--background-primary),
		transparent 10%
	) !important;
}
.modal {
	background: none !important;
}
canvas {
	background: 0 !important;
}

.view-content::before, .vertical-tab-content::before {
	content:  "";
	z-index: -1;
	position:absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px;
	background-image: var(--opal-image);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(var(--background-blur)) hue-rotate(calc(var(--accent-h) *1deg)) brightness(60%) saturate(130%);
}
.view-content.node-insert-event {
	background-image: none !important;
}
.backlink-pane.node-insert-event, .outgoing-link-pane.node-insert-event{
	background-image: linear-gradient(
		var(--background-secondary)5%,
		transparent 15%
	);
}

.setting-group .setting-items {
	background: none;
	backdrop-filter: blur(var(--background-blur-modifier)) invert(100%) brightness(90%) invert(100%);
}

.workspace-leaf{
	background: 0 !important;
}
.workspace-leaf::before, .outgoing-link-pane::before, .backlink-pane::before, .view-content.node-insert-event::before {
	content:  "";
	z-index: -1;
	position:absolute;
	top:0px;
	bottom: 0px;
	left:0px;
	right: 0px;
	background-image: var(--opal-image);
	background-position: 90%;
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(9px) hue-rotate(calc(var(--accent-h) *1deg)) invert(100%) brightness(85%) invert(100%) saturate(150%);
}
.nav-header {
	background-color: var(--background-secondary);
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
